body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    flex-direction: column; 
}
  .form-imc {
    max-width: 300px;
  }
  .result {
    margin-top: 20px;
    font-size: 1rem;
  }

  #resultImage {
    max-width: 500px;
    height: auto;
    margin-top: 20px;
    display: none; 
  }

button {
    border: 50%;
    background-color: lightblue;
    border-color: beige;
}
